<% last_12_months = 12.times.map { |i| (Date.today - i.month).beginning_of_month } %>

<table>
  <tr>
    <th> Month </th>
    <th> Income </th>
    <th> Spent </th>
    <th> Balance </th>
    <th> Status </th>
  </tr>
  <% last_12_months.each do |date| %>
    <% month = date.strftime("%b") %>
    <% year = date.strftime("%Y") %>
    <% transactions = Transaction.where(month: month, year: year.to_i) %>
    <% income = transactions.where(income: true).sum(:amount) %>
    <% spent = transactions.where.not(income: true).sum(:amount) %>
    <% balance = income - spent %>

    <tr class='data'>
      <th> <%= "#{month} #{year}"%> </th>
      <th> <%= income.zero? ? '-' : "₹#{income}" %> </th>
      <th> <%= spent.zero? ? '-' : "₹#{spent}" %> </th>
      <th> <%= balance.zero? ? '-' : "₹#{balance}" %> </th>
      <th> <%= (balance > 0 && "🟢") || (balance < 0 && "🔴") || "-" %> </th>
    </tr>
  <% end %>
</table>

<style>
  th {
    border: 1px;
    border-style: outset;
  }
  tr.data th {
    font-weight: normal;
  }
</style>
